@font-face {
  font-family: "Trebuchet-MS";
  src: url("../fonts/TrebuchetMS.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Trebuchet-MS";
  src: url("../fonts/TrebuchetMS-Bold.ttf");
  font-weight: 700;
}